html
  overflow-y auto !important

.bordered
  border 1px solid rgba(0,0,0,0.1)

.elevation-header
  box-shadow 0 0 3px 1px rgba(0, 0, 0, 0.12) !important


.elevation-bottom-bar
  box-shadow 0 0 5px -1px rgba(0,0,0,0.18) !important
